footer {
  color: black;
  text-align: center;
  margin-top: 8rem;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 1rem;
  padding: 20px;
}

footer p {
  margin: 0;
}

@media (max-width: 520px) {
  footer {
    margin-top: 0rem;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
  }
}
